//Variables to save color hex codes
:root {
    --background-color: #082032;
    --gradient-color: #27374D;
    --outliner-color: #26D8FF;
    --socials-background: #0C2F49;
    --infocard-background: #0B2538;
    --nav-bar-color: #00E35D;
    --nav-icon-color: #0B2538;
    --white-color: #ffffff;
    --scrollbar-color: #116D6E;
    --inputPlaceholder-color: #D8D9DA;
    --stroke-color: #f1f1f1;
    --nonActive-color: #D8D9DA;
}

//Command used to test designs...
// * > div {
//     border: 1px solid white;
// }

// * > section {
//     border: 1px solid red;
// }


//Design implementation that effects the whole page...
*{
    scroll-behavior: smooth;

    box-sizing: border-box;
    //Setting default margin and padding to 0
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; //Font of the text width sans-serif fallback
    overflow-x: hidden;
}

body {
    background-image: linear-gradient(to bottom right, var(--background-color), var(--gradient-color));
}

//Added sections for better visuality as well as cleaner code!
section {
    //Setting height and width of sections containing web data
    min-height: 100vh;;
    max-height: max-content;
    width: 100%;

    // Centering data of each section horizontally and vertically
    display: flex;
    justify-content: center;
    align-items: center;
}

//Link design
a {
    text-decoration: none;
    color: var(--white-color);
}

h1, h2, h3 {
    color: var(--white-color);
    font-style: italic;
}

p {
    color: var(--white-color);
    font-weight: lighter;
    opacity: 80%;
}

ul, li {
    list-style: none;
}

hr {
    display: block;
    height: 1px;
    width: 90%;
    color: var(--outliner-color);
    border: 0;
    border-top: 1px solid var(--outliner-color);
    margin: 0.5em auto;
}

button {
    width: 100px;
    height: 25px;
    background: none;
    border-color: var(--outliner-color);
    border-radius: 30pc;
    color: var(--outliner-color);
}

button:hover {
    background-color: var(--outliner-color);
    color: var(--background-color);
    transition: 500ms;
}

//Span design for linkin to them...
span {
    color: white;
    content: "";
}

/* Style the vertical scrollbar */
::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
}
  
/* Track (background) of the scrollbar */
::-webkit-scrollbar-track {
    background-color: transparent; /* Make the background transparent */
}
  
/* Handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color); /* Set the color of the scrollbar handle */
    border-radius: 10px;
}

//Fixed Social links design

.socials-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 1em 1em 1em;
    position: fixed;
    z-index: 99;
    animation: fadeIn linear 2s;

    .social-container {
        background-color: var(--socials-background);
        width: 150px;
        height: 30px;
        text-align: center;
        padding: 5px;
        border-radius: 0 0 15px 15px;

        .nickname {
            background-color: var(--socials-background);
            font-style: italic;
            
        }
    }

    .socials-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;
        height: 30px;
        background-color: var(--socials-background);
        border-radius: 0 0 15px 15px;
        top: 0;

        .social-link {
            padding: 0 15px;
            background-color: var(--socials-background);
        }

        .social-icon {
            width: 15px;
            height: 15px;
        }
    }
}


.nav-container {
    //background-color: var(--outliner-color);
    background: none;
    width: 80%;
    min-width: 300px;
    height: -moz-fit-content;
    height: fit-content;

    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 3em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    z-index: 99;
}

.navbar {
    background-color: var(--nav-bar-color);
    width: 300px;
    height: 45px;
    display: flex;
    justify-content: space-around;

    align-items: center;
    border-radius: 10px;
}
  
//Navigation container styling
.navbar a {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
  
.navbar a.active {
    background-color: var(--background-color);
    width: 50px;
    height: 35px;
    border-radius: 10px;
    transition: 0.5s;
}
  
.navbar a i {
    color: var(--background-color);
    background: none;
}
  
.navbar a.active i {
    color: var(--nav-bar-color);
    transition: 0.5s;
}

.icon {
    width: 25px;
    height: 25px;
    background: none;
}

.home {
    width: 90%;
    height: -moz-fit-content;
    height: fit-content;

    .title-subtitle {
        min-width: 300px;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;

        .title {
            text-align: center;
            margin: 1em;
        }
    
        .subtitle {
            text-align: center;
            margin: 1em
        }
    }

    .infocard {
        margin: 2em 0;
        width: 300px;
        height: 225px;
        display: grid;
        grid-template-rows: 25% 55% 20%;
        background-color: var(--infocard-background);
        border-radius: 20px;
        box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
        margin-left: auto;
        margin-right: auto;

        .card-title, h3 {

            .cardTitle-text {
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 15px;
            }
        }

        .mainInfo-card {
            overflow-y: hidden ;
        }

        .btn-container {
            text-align: center;
        }
    }

    .scroll-container {
        width: -moz-fit-content; //Mozilla implementation of 'fit-content'
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2em;
        margin-bottom: 2em;
        animation: updown 2s ease infinite;

        // Animation for the Scroll Icon
        @keyframes updown { // Declaration and name
            0% {
            transform: translateY(-20%); // Different transitions
            }
  
            50% {
              transform: translateY(20%);
            }
  
            100% {
              transform: translateY(-20%);
            }
        }
    }

    -ms-animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    animation: fadeIn linear 2s;
    
    //Animation for the Hero Home Section
    @keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
    }
}

.loader {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 105px;
}

.stroke {
    display: block;
    position: relative;
    background-color: var(--stroke-color);
    height: 80px;
    width: 10px;
    border-radius: 50px;
    margin: 0 5px;
    animation: strokeAnimate 1.5s linear infinite;
}

@keyframes strokeAnimate {
    50% {
        height: 30px;
        background-color: var(--nav-bar-color);
    }
    100% {
        height: 80px;
    }
}

.stroke:nth-child(1) {
    animation-delay: 0s;
}
.stroke:nth-child(2) {
    animation-delay: 0.3s;
}
.stroke:nth-child(3) {
    animation-delay: 0.6s;
}
.stroke:nth-child(4) {
    animation-delay: 0.9s;
}
.stroke:nth-child(5) {
    animation-delay: 0.6s;
}
.stroke:nth-child(6) {
    animation-delay: 0.3s;
}
.stroke:nth-child(7) {
    animation-delay: 0s;
}

//fade in function for all other parts of the website.
.fade-in {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.sectionpin {
    margin-bottom: 3em;


}
//Mobile & Desktop Design of 'MyWork' Section
.myWork {
    min-width: 300px;
    width: 80%;
    max-width: 1300px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    overflow-x: scroll; //for chrome
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */

    #workCard1 {
        border-color: var(--outliner-color);
        border-radius: 20px 0 20px 0;
        overflow-y: hidden;
    }

    #workCard2 {
        border-color: var(--white-color);
        border-radius: 20px;
        overflow-y: hidden;
    }

    #workCard3 {
        border-color: var(--nav-bar-color);
        border-radius: 0 20px 0 20px;
        overflow-y: hidden;
    }

    .workInfocard {
        width: 300px;
        height: 450px;
        display: grid;
        grid-template-rows: 20% 65% 15%;
        background-color: var(--infocard-background);
        margin: 1em;

        border: 1px solid var(--outliner-color);
        border-radius: 20px;
    
        .worktitle {
    
            .worktitle-text {
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 15px;
            }
        }
    
        .workinfo {
            text-align: center;

            .projectImage > img {
                width: 100px;
                height: 100px;
            }

            .projectLanguages {
                display: flex;
                justify-content: space-around;
                width: 70%;
                margin-left: auto;
                margin-right: auto;

                #projectColorBall {
                    width: 5px;
                    height: 5px;
                    border-radius: 100%;
                    margin-top: 2em;
                }

                .firstBall {
                    background-color: var(--outliner-color);
                }

                .secondBall {
                    background-color: var(--white-color);
                }

                .thirdBall {
                    background-color: var(--nav-bar-color);
                }

                p {
                    margin-top: 2em;
                    font-size: 0.8rem;
                }
            }

            .projectDesciption {
                width: 90%;
                height: 50%;
                margin-left: auto;
                margin-right: auto;
                
                p {
                    font-size: 0.9em;
                    margin-top: 2em;
                    letter-spacing: 2px;
                }
            }
        }
    
        .workbtn {
            display: flex;
            justify-content: space-around;
            margin-top: 15px;
    
            .useAppBtn {
                border: none;
                background-color: var(--background-color); // Normal color is: --socials-background
                color: var(--nonActive-color); // Normal color is --nav-bar-color
            }

            .useAppBtn:hover {
                background-color: var(--background-color);
            }
    
            .seeMoreBtn {
                border: none;
                background-color: var(--socials-background);
                color: var(--outliner-color);
            }

            .seeMoreBtn:hover {
                background-color: var(--background-color);
            }

            .nonActiveBtn { // This class is to be removed from the button element once it gets a purpose
                color: var(--nonActive-color);
                background-color: var(--background-color);
            }
        }
    }
}

.myWork::-webkit-scrollbar { 
    display: none; 
}

//Mobile Design of 'About Me Section

.aboutMe {
    min-width: 300px;
    width: 80%;
    max-width: 1150px;
    min-height: 416px;
    max-height: 600px;

    display: grid;
    grid-template-rows: 25% 55% 20%;

    background-color: var(--infocard-background);
    border-radius: 20px;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);

    .aboutTitle {

        .about-title {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
        }
    }

    .about-info {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .aboutBtn {
        display: flex;
        justify-content: space-around;
        margin: 1em;

        .resumeBtn {
            border-color: var(--nav-bar-color);
            color: var(--nav-bar-color);
        }

        .resumeBtn:hover {
            background-color: var(--nav-bar-color);
            color: var(--background-color);
        }
    }
}

//Mobile & Desktop design of 'MySkills' section

.mySkills {
    min-width: 300px;
    width: 80%;
    max-width: 1300px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    overflow-x: scroll; //for chrome
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */

    .s-card1 {
        border: 1px solid var(--outliner-color);
        border-radius: 20px 0 20px 0;
    }

    .s-card2 {
        border: 1px solid var(--white-color);
        border-radius: 20px;
    }

    .s-card3 {
        border: 1px solid var(--nav-bar-color);
        border-radius: 0 20px 0 20px;
    }

    .skillsInfocards {
        width: 300px;
        height: 320px;

        background-color: var(--infocard-background);
        margin: 1em;

        display: grid;
        grid-template-rows: 20% 40% 40%;

        .skill-title {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
        }

        .skill-layout {
            margin-left: auto;
            margin-right: auto;
            margin-top: 1em;
        }

        .skillIcon {
            margin: 1em;
            width: 45px;
            height: 45px;
        }
    }

}

.mySkills::-webkit-scrollbar { 
    display: none; 
}

.email {
    min-width: 300px;
    width: 80%;
    max-width: 1536px;

    text-align: center;

    .email-title {
        margin: 2em;

        .emailTitle {
            text-align: center;
            margin-bottom: 1em;
        }
    
        .emailSubtitle {
            text-align: center;
        }
    }

    .contact-nested {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 300px;
        margin: 1em auto 1em auto;
    }

    .email-input {
        width: 150px;
    }

    .itxt1 {
        margin-right: 2px;
    }

    .itxt2 {
        margin-left: 3px;
    }

    .input-text {
        width: 145px;
        height: 30px;
        background-color: var(--infocard-background);
        border: 1px solid var(--outliner-color);
        border-radius: 5px;
    }

    .input-text::placeholder {
        padding-left: 0.5em;
        color: var(--inputPlaceholder-color);
    }

    .context-input {
        margin-bottom: 1em;
        
        .input-textarea {
            width: 300px;
            background-color: var(--infocard-background);
            border: 1px solid var(--outliner-color);
            border-radius: 5px;
            margin-left: auto;
            margin-right: auto;
        }

        .input-textarea::placeholder {
            padding: 1em;
            color: var(--inputPlaceholder-color);
        }
    }
    
    .input-button {
        width: 300px;
        height: 30px;
    }
}

@media screen and (min-width: 820px) {

    //Adding some distance from the top to the first section
    #home {
        margin-top: 2em;    
    }

    button {
        width: 180px;
        height: 35px;
    }

    p {
        font-size: 1.2rem;
    }

    .nav-container {
        justify-content: space-between;
        //background-color: var(--outliner-color);

        .homeBtn {
            display: none;
        }
    }

    .home {

        .title-subtitle {
            margin-bottom: 2.5em;
        }

        .infocard {
            width: 500px;
            height: 350px;

            .card-title {
                margin-top: 1em;
            }

            .btn-container {
                margin-top: 0.5em;
            }
        }
    }

    .email {

        .contact-nested {
            width: 600px;
        }

        .email-input {
            width: 300px;

            .input-text {
                width: 295px;
                height: 40px;
                border-radius: 10px;
            }
        }

        .context-input {
            width: 600px;
            margin-left: auto;
            margin-right: auto;

            .input-textarea {
                width: 600px;
                height: 310px;
                border-radius: 10px;
            }
        }

        .input-button {
            width: 600px;
            height: 50px;
            font-size: 1.2rem;
        }
    }

    .aboutBtn {
        width: 50%;

        .contactBtn {
            margin-left: 10px;
        }
    }

    .useAppBtn {
        width: 100px;
        height: 30px;
    }

    .seeMoreBtn {
        width: 100px;
        height: 30px;
    }

    #emailMe {
        margin-bottom: 5em;
    }
}

@media screen and (min-width: 1440px) {

    .socials-nav {
        .social-container {
            width: 200px;
            height: 35px;

            .nickname {
                font-size: 1.2rem;
            }
        }
    
        .socials-list {
            width: 200px;
            height: 35px;

            .social-icon {
                width: 20px;
                height: 20px;
            }
        }
    }

    .f1 {
        transform: rotate(25deg);
        background-color: var(--socials-background);
        margin-top: -2em;
        position: absolute;
        z-index: -1;
    }
    
    .f2 {
        transform: rotate(-25deg);
        background-color: var(--socials-background);
        position: absolute;
        left: -10em;
        bottom: 2em;
        z-index: -1;
    }

    .home {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 10em;

        .title-subtitle {
            margin: 12em 0 0 0;
            height: -moz-fit-content; //for mozilla
            height: fit-content;

            .title {
                text-align: left;
                margin-left: 0;
            }

            .subtitle {
                text-align: left;
                margin-left: 0;
            }
        }

        .infocard {
            margin-top: 8em;
            margin-right: 10px;
        }

        .scroll-container {
            margin-right: 0;
        }
    }

    .email {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .email-title {
            text-align: left;
            width: 400px;

            .emailTitle {
                text-align: left;
                margin-top: 7em;
            }

            .emailSubtitle {
                text-align: left;
            }
        }

        .contact-form {
            width: max-content;
        }

    }
}