:root {
  --background-color: #082032;
  --gradient-color: #27374D;
  --outliner-color: #26D8FF;
  --socials-background: #0C2F49;
  --infocard-background: #0B2538;
  --nav-bar-color: #00E35D;
  --nav-icon-color: #0B2538;
  --white-color: #ffffff;
  --scrollbar-color: #116D6E;
  --inputPlaceholder-color: #D8D9DA;
  --stroke-color: #f1f1f1;
  --nonActive-color: #D8D9DA;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

body {
  background-image: linear-gradient(to bottom right, var(--background-color), var(--gradient-color));
}

a {
  text-decoration: none;
  color: var(--white-color);
}

h1, h2, h3 {
  color: var(--white-color);
  font-style: italic;
}

p {
  color: var(--white-color);
  font-weight: lighter;
  opacity: 80%;
}

ul, li {
  list-style: none;
}

hr {
  display: block;
  height: 1px;
  width: 90%;
  color: var(--outliner-color);
  border: 0;
  border-top: 1px solid var(--outliner-color);
  margin: 0.5em auto;
}

button {
  width: 100px;
  height: 25px;
  background: none;
  border-color: var(--outliner-color);
  border-radius: 30pc;
  color: var(--outliner-color);
}

button:hover {
  background-color: var(--outliner-color);
  color: var(--background-color);
  transition: 500ms;
}

span {
  color: white;
  content: "";
}

/* Style the vertical scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

/* Track (background) of the scrollbar */
::-webkit-scrollbar-track {
  background-color: transparent; /* Make the background transparent */
}

/* Handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color); /* Set the color of the scrollbar handle */
  border-radius: 10px;
}

.socials-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 1em 1em 1em;
  position: fixed;
  z-index: 99;
  animation: fadeIn linear 2s;
}
.socials-nav .social-container {
  background-color: var(--socials-background);
  width: 150px;
  height: 30px;
  text-align: center;
  padding: 5px;
  border-radius: 0 0 15px 15px;
}
.socials-nav .social-container .nickname {
  background-color: var(--socials-background);
  font-style: italic;
}
.socials-nav .socials-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  height: 30px;
  background-color: var(--socials-background);
  border-radius: 0 0 15px 15px;
  top: 0;
}
.socials-nav .socials-list .social-link {
  padding: 0 15px;
  background-color: var(--socials-background);
}
.socials-nav .socials-list .social-icon {
  width: 15px;
  height: 15px;
}

.nav-container {
  background: none;
  width: 80%;
  min-width: 300px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 3em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 99;
}

.navbar {
  background-color: var(--nav-bar-color);
  width: 300px;
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.navbar a {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.navbar a.active {
  background-color: var(--background-color);
  width: 50px;
  height: 35px;
  border-radius: 10px;
  transition: 0.5s;
}

.navbar a i {
  color: var(--background-color);
  background: none;
}

.navbar a.active i {
  color: var(--nav-bar-color);
  transition: 0.5s;
}

.icon {
  width: 25px;
  height: 25px;
  background: none;
}

.home {
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10em;
  width: 90%;
  animation: fadeIn linear 2s;
}
.home .title-subtitle {
  min-width: 300px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.home .title-subtitle .title {
  text-align: center;
  margin: 1em;
}
.home .title-subtitle .subtitle {
  text-align: center;
  margin: 1em;
}
.home .infocard {
  margin: 2em 0;
  width: 300px;
  height: 225px;
  display: grid;
  grid-template-rows: 25% 55% 20%;
  background-color: var(--infocard-background);
  border-radius: 20px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: auto;
}
.home .infocard .card-title .cardTitle-text, .home .infocard h3 .cardTitle-text {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
.home .infocard .btn-container {
  text-align: center;
}
.home .scroll-container {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  animation: updown 2s ease infinite;
}
@keyframes updown {
  0% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(-20%);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.loader {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 105px;
}

.stroke {
  display: block;
  position: relative;
  background-color: var(--stroke-color);
  height: 80px;
  width: 10px;
  border-radius: 50px;
  margin: 0 5px;
  animation: strokeAnimate 1.5s linear infinite;
}

@keyframes strokeAnimate {
  50% {
    height: 30px;
    background-color: var(--nav-bar-color);
  }
  100% {
    height: 80px;
  }
}
.stroke:nth-child(1) {
  animation-delay: 0s;
}

.stroke:nth-child(2) {
  animation-delay: 0.3s;
}

.stroke:nth-child(3) {
  animation-delay: 0.6s;
}

.stroke:nth-child(4) {
  animation-delay: 0.9s;
}

.stroke:nth-child(5) {
  animation-delay: 0.6s;
}

.stroke:nth-child(6) {
  animation-delay: 0.3s;
}

.stroke:nth-child(7) {
  animation-delay: 0s;
}

.fade-in {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.sectionpin {
  margin-bottom: 3em;
}

.myWork {
  min-width: 300px;
  width: 80%;
  max-width: 1300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-x: scroll;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20em;
}
.myWork #workCard1 {
  border-color: var(--outliner-color);
  border-radius: 20px 0 20px 0;
}
.myWork #workCard2 {
  border-color: var(--white-color);
  border-radius: 20px;
}
.myWork #workCard3 {
  border-color: var(--nav-bar-color);
  border-radius: 0 20px 0 20px;
}
.myWork .workInfocard {
  width: 300px;
  height: 450px;
  display: grid;
  grid-template-rows: 20% 65% 15%;
  background-color: var(--infocard-background);
  margin: 1em;
  border: 1px solid var(--outliner-color);
  border-radius: 20px;
}
.myWork .workInfocard .worktitle .worktitle-text {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
.myWork .workInfocard .workinfo {
  text-align: center;
}
.myWork .workInfocard .workinfo .projectImage > img {
  width: 100px;
  height: 100px;
}
.myWork .workInfocard .workinfo .projectLanguages {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.myWork .workInfocard .workinfo .projectLanguages #projectColorBall {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  margin-top: 2em;
}
.myWork .workInfocard .workinfo .projectLanguages .reactBall {
  background-color: var(--outliner-color);
}
.myWork .workInfocard .workinfo .projectLanguages .rapidBall {
  background-color: var(--white-color);
}
.myWork .workInfocard .workinfo .projectLanguages p {
  margin-top: 2em;
  font-size: 0.8rem;
}
.myWork .workInfocard .workinfo .projectDesciption {
  width: 90%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}
.myWork .workInfocard .workinfo .projectDesciption p {
  font-size: 0.9em;
  margin-top: 2em;
  letter-spacing: 2px;
}
.myWork .workInfocard .workbtn {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
.myWork .workInfocard .workbtn .useAppBtn {
  border: none;
  background-color: var(--background-color);
  color: var(--nonActive-color);
}
.myWork .workInfocard .workbtn .useAppBtn:hover {
  background-color: var(--background-color);
}
.myWork .workInfocard .workbtn .seeMoreBtn {
  border: none;
  background-color: var(--socials-background);
  color: var(--outliner-color);
}
.myWork .workInfocard .workbtn .seeMoreBtn:hover {
  background-color: var(--background-color);
}
.myWork .workInfocard .workbtn .nonActiveBtn {
  color: var(--nonActive-color);
  background-color: var(--background-color);
}

.myWork::-webkit-scrollbar {
  display: none;
}

.aboutMe {
  min-width: 300px;
  width: 80%;
  max-width: 1150px;
  min-height: 416px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20em;
  display: grid;
  grid-template-rows: 25% 55% 20%;
  background-color: var(--infocard-background);
  border-radius: 20px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}
.aboutMe .aboutTitle .about-title {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.aboutMe .about-info {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.aboutMe .aboutBtn {
  display: flex;
  justify-content: space-around;
  margin: 1em;
}
.aboutMe .aboutBtn .resumeBtn {
  border-color: var(--nav-bar-color);
  color: var(--nav-bar-color);
}
.aboutMe .aboutBtn .resumeBtn:hover {
  background-color: var(--nav-bar-color);
  color: var(--background-color);
}

.mySkills {
  min-width: 300px;
  width: 80%;
  max-width: 1300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-x: scroll;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20em;
}
.mySkills .s-card1 {
  border: 1px solid var(--outliner-color);
  border-radius: 20px 0 20px 0;
}
.mySkills .s-card2 {
  border: 1px solid var(--white-color);
  border-radius: 20px;
}
.mySkills .s-card3 {
  border: 1px solid var(--nav-bar-color);
  border-radius: 0 20px 0 20px;
}
.mySkills .skillsInfocards {
  width: 300px;
  height: 320px;
  background-color: var(--infocard-background);
  margin: 1em;
  display: grid;
  grid-template-rows: 20% 40% 40%;
}
.mySkills .skillsInfocards .skill-title {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.mySkills .skillsInfocards .skill-layout {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}
.mySkills .skillsInfocards .skillIcon {
  margin: 1em;
  width: 45px;
  height: 45px;
}

.mySkills::-webkit-scrollbar {
  display: none;
}

.email {
  min-width: 300px;
  width: 80%;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10em;
  text-align: center;
}
.email .email-title {
  margin: 2em;
}
.email .email-title .emailTitle {
  text-align: center;
  margin-bottom: 1em;
}
.email .email-title .emailSubtitle {
  text-align: center;
}
.email .contact-nested {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 300px;
  margin: 1em auto 1em auto;
}
.email .email-input {
  width: 150px;
}
.email .itxt1 {
  margin-right: 2px;
}
.email .itxt2 {
  margin-left: 3px;
}
.email .input-text {
  width: 145px;
  height: 30px;
  background-color: var(--infocard-background);
  border: 1px solid var(--outliner-color);
  border-radius: 5px;
}
.email .input-text::-moz-placeholder {
  padding-left: 0.5em;
  color: var(--inputPlaceholder-color);
}
.email .input-text::placeholder {
  padding-left: 0.5em;
  color: var(--inputPlaceholder-color);
}
.email .context-input {
  margin-bottom: 1em;
}
.email .context-input .input-textarea {
  width: 300px;
  background-color: var(--infocard-background);
  border: 1px solid var(--outliner-color);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}
.email .context-input .input-textarea::-moz-placeholder {
  padding: 1em;
  color: var(--inputPlaceholder-color);
}
.email .context-input .input-textarea::placeholder {
  padding: 1em;
  color: var(--inputPlaceholder-color);
}
.email .input-button {
  width: 300px;
  height: 30px;
}

@media screen and (min-width: 820px) {
  button {
    width: 180px;
    height: 35px;
  }
  p {
    font-size: 1.2rem;
  }
  .nav-container {
    justify-content: space-between;
  }
  .nav-container .homeBtn {
    display: none;
  }
  /*.f1 {
      transform: rotate(35deg);
      background-color: var(--socials-background);
      margin-top: -2em;
      position: absolute;
      top: 5em;
      z-index: -1;
  }

  .f2 {
      transform: rotate(-35deg);
      background-color: var(--socials-background);
      width: 150%;
      position: absolute;
      left: -15em;
      bottom: 2em;
      z-index: -1;
  }*/
  .home .title-subtitle {
    margin-bottom: 5em;
  }
  .home .infocard {
    width: 500px;
    height: 350px;
  }
  .home .infocard .card-title {
    margin-top: 1em;
  }
  .home .infocard .btn-container {
    margin-top: 0.5em;
  }
  .email .contact-nested {
    width: 600px;
  }
  .email .email-input {
    width: 300px;
  }
  .email .email-input .input-text {
    width: 295px;
    height: 40px;
    border-radius: 10px;
  }
  .email .context-input {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .email .context-input .input-textarea {
    width: 600px;
    height: 310px;
    border-radius: 10px;
  }
  .email .input-button {
    width: 600px;
    height: 50px;
    font-size: 1.2rem;
  }
  .aboutBtn {
    width: 50%;
  }
  .aboutBtn .contactBtn {
    margin-left: 10px;
  }
  .useAppBtn {
    width: 100px;
    height: 30px;
  }
  .seeMoreBtn {
    width: 100px;
    height: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .socials-nav .social-container {
    width: 200px;
    height: 35px;
  }
  .socials-nav .social-container .nickname {
    font-size: 1.2rem;
  }
  .socials-nav .socials-list {
    width: 200px;
    height: 35px;
  }
  .socials-nav .socials-list .social-icon {
    width: 20px;
    height: 20px;
  }
  .f1 {
    transform: rotate(25deg);
    background-color: var(--socials-background);
    margin-top: -2em;
    position: absolute;
    z-index: -1;
  }
  .f2 {
    transform: rotate(-25deg);
    background-color: var(--socials-background);
    position: absolute;
    left: -10em;
    bottom: 2em;
    z-index: -1;
  }
  .home {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10em;
  }
  .home .title-subtitle {
    margin: 12em 0 0 0;
    height: -moz-fit-content;
    height: fit-content;
  }
  .home .title-subtitle .title {
    text-align: left;
    margin-left: 0;
  }
  .home .title-subtitle .subtitle {
    text-align: left;
    margin-left: 0;
  }
  .home .infocard {
    margin-top: 8em;
    margin-right: 10px;
  }
  .home .scroll-container {
    margin-right: 0;
  }
  .email {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .email .email-title {
    text-align: left;
    width: 400px;
  }
  .email .email-title .emailTitle {
    text-align: left;
    margin-top: 7em;
  }
  .email .email-title .emailSubtitle {
    text-align: left;
  }
  .email .contact-form {
    width: -moz-max-content;
    width: max-content;
  }
}/*# sourceMappingURL=style.css.map */